.productDetail__container {
  margin: auto auto;
  display: flex;
  width: 1150px;
  justify-content: space-between;
  margin-top: 50px;
}

/* Product image */
.productDetail__container > img {
  max-width: 400px;
  width: auto;
  height: auto;
  margin-right: 100px;
}

.productDetail__detail {
  margin-top: 40px;
}

/* Name */
.productDetail__detail > h1 {
  font-size: 40px;
  font-weight: 500;
}

/* categories */
.productDetail__detail > h3 {
  font-size: 26px;
  font-weight: 400;
  text-transform: capitalize;
}

/* description */
.productDetail__detail > h2 {
  color: rgba(0, 0, 0, 0.572);
  font-size: 22px;
  font-weight: 300;
}

/* rating */
.productDetail__detailRating {
  display: flex;
  align-items: baseline;
}

.productDetail__detailRating > h1 {
  font-size: 22px;
}

.productDetail__detailRating > h2 {
  color: rgba(0, 0, 0, 0.572);
  font-size: 20px;
  margin-left: 7px;
}

/* price */
.productDetail__detailPrice {
  display: flex;
  align-items: baseline;
  margin-bottom: -7px;
}

.productDetail__detailPrice > h1 {
  font-size: 26px;
}

.productDetail__detailPrice > h2 {
  color: rgba(0, 0, 0, 0.572);
  font-size: 18px;
  margin-left: 7px;
  text-decoration: line-through;
}

/* Button */
.productDetail__button {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.productDetail__button > button {
  border: 1px solid #df7048;
  width: 200px;
  height: 50px;
}

.productDetail__buttonBuyNow {
  background-color: #df7048;
  margin-left: 20px;
  color: white;
  font-weight: bolder;
  font-size: 18px;
}

.productDetail__buttonAddToCart {
  background-color: white;
  font-weight: bolder;
  font-size: 18px;
  color: #df7048;
}

@media (max-width: 1200px) {
  .productDetail__container {
    width: 800px;
  }
}
@media (max-width: 1064px) {
  .productDetail__container {
    width: 600px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-top: -20px;
  }
  .productDetail__container > img {
    margin-left: 100px;
    transform: scale(0.8);
  }
}

@media (max-width: 630px) {
  .productDetail__container {
    width: 400px;
  }
}
@media (max-width: 450px) {
  .productDetail__detail {
    width: 300px;
    margin-bottom: 20px;
  }
  /* Name */
  .productDetail__detail > h1 {
    font-size: 28px;
  }

  /* categories */
  .productDetail__detail > h3 {
    font-size: 18px;
  }

  /* description */
  .productDetail__detail > h2 {
    font-size: 16px;
  }
  /* rating */
  .productDetail__detailRating > h1 {
    font-size: 18px;
  }

  .productDetail__detailRating > h2 {
    color: rgba(0, 0, 0, 0.572);
    font-size: 16px;
    margin-left: 7px;
  }

  .productDetail__detailPrice > h1 {
    font-size: 22px;
  }

  .productDetail__detailPrice > h2 {
    font-size: 14px;
  }
}
