.normaldetail {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 10px;
  padding: 15px;
  margin-left: 20px;
  margin-bottom: 25px;
  width: 300px;
  height: 270px;
  cursor: pointer;
  background-color: white;
}

.normaldetail:hover {
  transform: scale(1.05);
}
.normaldetail:hover > .normaldetail__containerPrice {
  opacity: 0.5;
}

.normaldetail__container {
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.normaldetail__container > h1 {
  font-size: 20px;
}

.normaldetail__container > img {
  height: 110px;
  margin: auto auto;
  margin-bottom: 25px;
}

.normaldetail__containerRating {
  background-color: #e45826;
  color: white;
  display: flex;
  align-items: center;
  height: 30px;
  width: 60px;
  padding-top: 7px;
  margin-top: 3px;
  margin-bottom: 10px;
}
.normaldetail__containerRatingStar {
  margin-bottom: 10px;
  transform: scale(0.8);
}
.normaldetail__containerRating > h2 {
  font-size: 18px;
  margin-left: 2px;
}

.normaldetail__containerPrice {
  display: flex;
  align-items: baseline;
}
.normaldetail__containerPrice > h3 {
  font-size: 18px;
}
.normaldetail__containerPrice > h4 {
  font-size: 15px;
  text-decoration: line-through;
  color: gray;
  margin-left: 10px;
}

