.basket {
  max-width: 1300px;
  min-width: 955px;
  width: 70%;
  height: 100vh;
  margin: auto auto;
}

/* Basket */
.basket__item {
  padding: 10px;
  width: 100%;
}
.basket__item > h1 {
  font-size: 38px;
}
.basket__noitem {
  margin-bottom: 300px;
}

/* Summary */
.basket__summary {
  padding: 10px;
  width: 30%;
}
.basket__summary > h1 {
  font-size: 38px;
}

/* Button */
.item__detail > button {
  margin-top: 7px;
  width: 70px;
  border: none;
  background-color: white;
  text-decoration: underline;
  text-align: left;
}

@media (max-width: 1000px) {
  .basket {
    min-width: 440px;
    width: 70%;
    height: 100vh;
    margin: auto auto;
  }
}

